doctype html
html(lang="en")
  head
    title Reactor Now
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js')
    //- script(src='http://prezi.github.io/prezi-player/lib/PreziPlayer/prezi_player.js')
    link(href='http://fonts.googleapis.com/css?family=Montserrat')
    script(src='scripts/speech.js')
  body(style="font-family: 'Montserrat', sans-serif;")
    h1 Reactor Now - The Next Generation of Voice
    button#startButton What?
    div#results
  footer
